{% extends "base.html" %}

{% block content %}

    	<h1> Attendants </h1>
        <h2>Government:</h2>
        Bob Bonneau (AFOSR)<br />
        John Lavery (ARO)<br />
        Sandy Landsberg (DOE)<br />
        Bryan Lyles (NSF)<br />
        Thomas Ndousse-Fetter (DOE)<br />
        <br />
        Darleen Fisher (NSF)<br />
        Tim Ashenfelter (DHS)<br />
        Richard Vojtech (DHS)<br />
        Howard Shrobe (day 2) (DARPA)<br />
        Keith Gremban (DARPA)<br />
        Guna Seetharaman (AFRL)<br />
        Bruce Suter (AFRL)<br />
        <br />
        David Bailey (Lawrence Berkeley Lab)<br />
        Aric Haberg (day 1) (Los Alamos National Lab)<br />
        Shuai Lu (Pacific Northwest National Lab)<br />
        Mihai Anitescu (Argonne National Lab)<br />
        Bruce Hendrickson (Sandia Lab)<br />

        <h2>Industry:</h2>
         
        Mike Cook (Comcast)<br />
        Sudip Charkarabati (Osage partners)<br />
        Adam Drobot (Formerly Telcordia)<br />
        Chip Elliot (BBN)<br />
        Robert Fry (JHU Applied Physics Lab)<br />
        Victor Glass (National Exchange Carrier Asso.)<br />
        Jason Li (IAI)<br />
        Jin Li (Microsoft)<br />
        Yatin Mundkar (Artiman Ventures)<br />
        David Rosenbluth (Lockheed Martin)<br />
        Stan Russo (day 1) (SES)<br />
        Krishan Sabnani (Alcatel Lucent Bell Labs)<br />
        Steve Sposato (AT&T Labs)<br />
        Stu Wagner (ACS)<br />
        Cisco<br />
        Intel<br />
        Qualcomm<br />
        
         
        <h2>Academia: </h2>
         
        Massoud Amin (U. Minnesota)<br />
        Rob Calderbank (day 2) (Duke)<br />
        Vincent Chan (MIT)<br />
        John Doyle (Caltech)<br />
        Muriel Medard (MIT)<br />
        Prateek Mittal (day 2) (UC Berkeley)<br />
        Edward Knightly (Rice)<br />
        PR Kumar (Texas A&M)<br />
        HT Kung (Harvard)<br />
        Beneditto Piccolli (Rutgers)<br />
        Dipankar Raychaudhuri (day 1) (Rutgers)<br />
        Jen Rexford (day 1) (Princeton)<br />
        Keith Ross (NYU Poly)<br />
        Henning Schulzerinne (Columbia)<br />
        Ness Shroff (Ohio State)<br />
        Ellen Zegura (Georgia Tech)<br />
        Junshan Zhang (Arizona State U)<br />

{% endblock %}

