{% extends "base.html" %}

{% block content %}
    	<h1> NITRD Workshop - Funding the Frontiers of Networking</h1>
    	<p>This workshop is co-sponorsed by the National Science Foundation, Air Force Office of Scientific Research, and the Department of Energy to bring together about 20 leaders in academia, 20 from industry, and 20 from federal funding agencies and national labs. The goal of the workshop is to identify challenges and opportunities in key areas of large scale networking, including computer, communication, wireless, online social, sensor, energy, and instrumentation networks. Through presentations, break-out sessions, and round table discussions at this 2-day event, we will collectively develop and document recommendations to all the federal funding agencies involved in complex engineered networking. 
		</p>
        <br /><br />
        <h1>Background</h1>
        <p>Complex engineered networks are everywhere – power grids, Internet, transportation networks, and others. They are being used more than ever before, and yet our understanding about them remains limited. The Internet, wireless networks, and online social networks have shaped the modern society. Increasingly, critical, engineered, large-scale systems, such as transportation networks, power grids, and oil and gas distribution systems, are being enhanced and optimized by state monitoring and dynamic controls through sensor and cyber mechanisms. These networks have evolved into complex systems with behaviors and characteristics that are beyond the characterizations and predictions possible by the traditional modeling, analysis and design approaches.</p>
        
		<p>This workshop will bring together experts from the academia, national laboratories, government, and industries to assess the recent trends, state-of-the-art, and impending challenges in modeling, predicting and controlling the behaviors of these complex networks to gain better performance, efficiency, and robustness. The objectives of the workshop include:
			<ul>
            	<li>Identify transformative research challenges and directions in the field of large-scale, complex engineered networks and interconnected physical systems of sensors and instruments, such as the power grid and communications networks.</li>
				<li>Assess the state-of-the-art, future trends, and important opportunities and challenges in the theory, design, analysis, tools, and applications of complex interconnected systems research in government, industry, and academia.</li>
				<li>Identify strategies for inter-agency collaborations at the federal level to enable different communities to carry out joint efforts, leverage ongoing activities, accelerate new discoveries, and enable technology transfers to societal impact in the research field of complex networks and interconnected systems.</li>
            </ul>
		</p>
        
		<h3>Charge Statement:</h3>
		<p>Complex Engineered Networks are taking up increasingly critical roles in our society. They span a wide spectrum, ranging from the Internet and multiple modalities of wireless networks, power grids with smart homes and cars, green house gas monitoring networks with satellite, air-borne and ground sensors across the world, global networks of telescopes, to networks of instruments and sensors in battlefields and hospitals.</p>
        
		<p>These networked systems promise capabilities unprecedented in their performance, scale, and applications. But their sheer complexity and scale makes it very challenging to understand and predict their performance across a full set of operating conditions. Formal mathematical analysis may give insight into the operation of system components or into the operation of simplified system models, but is seldom capable of guiding the overall designs and physical realizations. Empirical testing of deployed systems, on the other hand, often misses unexpected behaviors resulting from cross-system interactions in these inherently infinite-dimensional systems, due to the limitations of finite measurements and computations.  </p>
        <br />
		<p>Motivated by these critical needs in this scientific community, this workshop is oriented around the following three "umbrella terms" of charge statement:
        	<ol><b>
            	<li>What are the "big questions" in complex engineered networks research?</li>
				<li>What are the grand challenges in "methods" for analysis, design, deployment and operation of these networks?</li>
				<li>What are the mechanisms to "ensure the highest impact" of federal research support?</li>
            </ol></b>
		</p>
		<br />
		<p><b>On "big questions," some of the topical areas include:</b>
			<ul>
            	<li>Network security, privacy, trustworthiness (e.g., how do we even define metrics for these concerns?)</li>
				<li>Performance, robustness and resilience (e.g., what are the performance and failures models and analysis methods? How to model and design for extremely rare but disastrous events?)</li>
				<li>Architectural division of functionalities across functional modules (e.g., how to characterize the impact of layering, overlay, and other functional and spatial hierarchies?)</li>
                <li>Understanding complex network behaviors (e.g., what classes of models and spatial-temporal scales will maintain rigor and relevance jointly for different types of networks?)</li>
            </ul>
        </p>
		<br />
		<p><b>On "methods" some of the breakthroughs desired include those about:</b>
			<ul>
            	<li>Non-convex, distributed, stochastic, game-theoretic optimization</li>
				<li>Network science with domain-specific functionality models</li>
				<li>Theory of experiments, and instrumentation and measurement design</li>
				<li>Analysis of big datasets and high-dimensional data</li>
				<li>Computational modeling and usage behavioral prediction</li>
            </ul>
        </p>
		<br />
		<p><b>On "ensuring highest impact," some key issues include:</b>
        	<ul>
				<li>Bridging the theory-practice gaps: What standard assumptions leading to tractability of models have been hindering the predictive power and application scope of the resulting theory? How to enhance the feedback loop from at-scale experimental data to theory and models?</li>
				<li>Transferring fundamental research to societal impacts: How can federal agencies collaborate among themselves and with industry to create pathways for funded research to go from proofs to prototypes? How can entrepreneurship be encouraged to enhance visible successes from tax dollars to job creation in the networking field?</li>
            </ul>
        </p>
{% endblock %}


