{% extends "base.html" %}
{% block content %}
    	<h1> Schedule </h1>
    	<table>
        	<tr>
            	<th>THURSDAY</th>
            </tr>
            <tr>
            	<td>8:30-9:00 AM</td><td>Overview by Co-chairs</td>
            </tr>
            <tr>
            	<td>9:00-9:30 AM</td><td>Sponsoring Agency Overviews</td>
            </tr>
            <tr>
            	<td>9:30-10:30 AM</td><td>Rapid Fire Presentation I:<i>What are the biggest opportunities in networking problem?</i></td>
            </tr>
            <tr>
            	<td>10:30-11:00 AM</td><td>Break</td>
            </tr>
            <tr>
            	<td>11:00-12:30 PM</td><td>Panel I</td>
            </tr>
            <tr>
            	<td>12:30-1:30 PM</td><td>Working Lunch</td>
           	</tr>
            <tr>
            	<td>1:30-3:00 PM</td><td>Breakout Session I</td>
            </tr>
            <tr>
            	<td>3:00-3:30 PM</td><td>Break</td>
            </tr>
            <tr>
           	 	<td>3:30-4:30 PM</td><td>Rapid Fire Presentation II:<i>What are the grand challenges in networking methodologies?</i></td>
            </tr>
            <tr>
           	 	<td>4:30-6:00 PM</td><td>Panel II</td>
            </tr>
            <tr>
            	<td>7:00-9:00 PM</td><td>Dinner With Keynote Speaker</td>
            </tr>
        </table>
        <br />
        <table>
        	<tr>
            	<th>FRIDAY</th>
            </tr>
            <tr>
            	<td>8:45-9:00 AM</td><td>Overview by Co-chairs</td>
            </tr>
            <tr>
            	<td>9:00-10:30 AM</td><td>Panel III</td>
            </tr>
            <tr>
            	<td>10:30-11:00 AM</td><td>Break</td>
            </tr>
            <tr>
            	<td>11:00-12:00 PM</td><td>Rapid Fire Presentation III:<i>What are the best ways to translate research to impact?</i></td>
            </tr>
            <tr>
            	<td>12:00-1:00 PM</td><td>Working Lunch</td>
           	</tr>
            <tr>
            	<td>1:00-2:30 PM</td><td>Breakout Session II</td>
            </tr>
            <tr>
            	<td>2:30-3:00 PM</td><td>Break</td>
            </tr>
            <tr>
           	 	<td>3:00-4:30 PM</td><td>Breakout Session Reports</td>
            </tr>
            <tr>
           	 	<td>4:30-5:30 PM</td><td>Concluding Discussion</td>
            </tr>
        </table>
        
        <h1>Program Format</h1>
        <p>
        <b>Rapid Fire Presentations:</b> 8 min talk each, 6 talks each session (mix of government, academia, industry): altogether 18 speakers<br />
		I: What're the biggest opportunities in networking problem?<br />
		II: What're the grand challenges in networking methodologies?<br />
		III: What're the best ways to translate research to impact?
    	</p>
 
		<p>
        <b>Panels:</b> about 6 panelists each session, 5 min presentation by each panelist, then 1 hour discussion including from the floor (each panel a mix of government, academia, industry): altogether 18 speakers<br />
		I: What're the biggest opportunities in networking problem?<br />
		II: What're the grand challenges in networking methodologies?<br />
		III: What're the best ways to translate research to impact?
        </p>
 
        <p>
        <b>Breakout Sessions:</b> Each session divides the group into 3 subgroups by topics:<br />
        Group A: Wireless networking<br />
        Group B: Internet<br />
        Group C: Energy and instrumentation networks<br />
        Session I on Thu: brainstorm discussion<br />
        Session II on Fri: structure their recommendations<br />
        Report session on Fri: each group gets 20 min (by 2 representatives) to present their recommendation followed by 10 min discussion.
        </p>
{% endblock %}
