{% extends "base.html" %}
{% block content %}
    	<h1> Location </h1>
    	<p>L'enfant Plaza Hotel<br />
        480 L'ENFANT PLAZA<br />
        SW, WASHINGTON, D.C. 20024<br />
        Phone: 202.484.1000<br />
        Hotel Fax: 202.646.4456<br />
        Sales Fax: 202.646.5060</p>
        
        <h1> Directions </h1>
        <p><a href="http://www.lenfantplazahotel.com/downtown-washington-dc-hotels.php">Interactive Map</a></p>
 		<p><a href="http://www.lenfantplazahotel.com/pdf/DRIVING-DIRECTIONS-12072011160245.pdf" target="_blank">Driving Directions</a> & <a href="http://www.lenfantplazahotel.com/pdf/METRO-DIRECTIONS-12072011155420.pdf" target="_blank">Metro Directions</a></p>
    </div>
{% endblock %}
